@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/*feel free to adjust the map size and position parameters*/
#map {
  width:40%;
  height:400px;
  background-color: grey;
}

h1 {
text-align: center;
font-size: xx-large;
font-style: oblique;

}



.btn:hover {
  color: rgb(137, 44, 44); 
  box-shadow: 2px 2px var(--dark);
}

body {
  background-color:bisque;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.mapPosition {
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

:root {
    --chicagoBlue: b3ddf2;
}

/* .fa {
    color: var(--chicagoBlue);
} */
